<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Comentarios</title>
  </head>
  <body id="bg-colour">
     <div id="title">
      <h2>Que Gonorrea, Sin Pelos En la lengua</h2>
    </div> 
    <div class="flag-wrapper">
      <img src="images/bandera.png" alt="">

      image_tag("bandera.png") //ruby helper to display images on views
      <div class="text-wrapper">
        <h1>Que Gonorrea, sin pelos en la lengua</h1>
      </div>
    </div>
    <div>

     <p>que gonorrea esta vieja, se comio el ve</p>
    </div>
    
  </body>
</html> -->

  <div>
    <p>que gonorrea esta vieja, se comio el vecino</p>
  </div>