/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #bg-colour{
  background-color: darkred;
 
}

.flag-wrapper{
  /* background-image: url('images/bandera.png'); */
  /* 
  margin-right: auto;
  margin-left: auto; */
  background-repeat: no-repeat;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 300%;
  
}
/* body{
  
} */

/* #title{
  background-color:yellow;
  height: 90px;
  width: 400px;
  border: 10px solid blue;
  /* position:absolute;
  left:500px;
  top:400px; */

  /* margin-right: auto;
  margin-left: auto;
} */ 

*{
  padding: 0;
  margin: 0;

}

body{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #c4a1a2;

}

.flag-wrapper{
  width: 80%;
  margin: 4% 10% 5% 10%;

}

.flag-wrapper img{
  width: 100%;

}
.text-wrapper{
  width: 180%;
  position: relative;
  margin: -40%;
}

.text-wrapper h1{
  text-align: center;
  color: black;
  font-size: 6vw;
  font-family: 'Pasifico', cursive;
}